import HeaderReact = require('../../pages/HeaderReact.js');

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="width:100%">
            <a href="/" class="navbar-brand"><i class="fas fa-code me-2"></i>JP Computer Systems</a>
            <!-- Other navbar content here -->
            <HeaderReact><HeaderReact/>
        </div>
    </nav>

    <div class="container">
        <!-- Your content goes here -->
        <h1>Welcome to Movie API</h1>
        <!-- Example: -->
        <!-- <p>This is your home page content</p> -->
    </div>

    
   

    <script>
        // Your JavaScript code here
    
    </script>
</body>
</html>
