<%- include('layout/header') %>

<!-- ejs file is not connected to the database -->
<div class="container">
    <div class="row">
        <div id="404_container" class="col-lg-6 mx-auto mt-4">
            <img src="question cartoon.png" alt="404 logo">
            <h1 class="404_title">Oops, looks like there's nothing here!</h1>
            <a href="/"><button class="btn btn-info">Take me Home</button></a>
        </div>
    </div>
</div>
<%- include('layout/footer') %>