<%- include('layout/header') %>      
      <div class="contatiner">
        <div class="row">
          <div class="col-sm-4 col-md-5 p-5">
            
            <h4>Contact</h4>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.themoviedb.org/login" class="p-1 font-weight-normal">
                  Check out all other Movies @ <a href="https://www.themoviedb.org/login">TMDB</a>
                </a>
              </li>
              <li>
                <a
                  href=mailto:"justin.melbourne.80@gmail.com"
                  class="p-1 font-weight-normal"
                >
                  Email me Here <i class="fas fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
<%- include('layout/footer') %>


